:root{
    --primary-color: #808080;
    --secondary-color: #F4F4F4;
    --terciary-color: #EC2D2D;
    --primary-font: 'Montserrat', sans-serif;
}
.link-route{
    position: absolute;
    width: 100%;
    height: 100%;
}
.link-route:hover {
    color: var(--terciary-color);
}
body{
    height: 100vh;
}
header{
    height: 100px;
    width: 100%;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.text-senai{
    font-style: italic;
    font-weight: 800;
    font-size: 4rem;
}
.container-link {
    position: relative;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 16px;
}
.text-user{
    font-weight: 700;
    font-size: 2rem;
}
.profile-container i{
    font-size: 64px;
}
.left-container{
    height: calc(100% - 100px);
    display: grid;
    grid-template-areas: 
    "nav main";
    grid-template-columns: 100px 1fr;
}
.nav-container{
    grid-area: nav;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 18px;
    border-right: 2px solid #EC2D2D;
}
.list-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.list-container li{
    display: flex;
    align-items: center;
}
.list-container img:hover{
    transform: scale(1.1);
}
.text-welcome{
    font-size: 4rem;
    font-family: var(--primary-font);
    font-style: italic;
    font-weight: 800;
}
.text-welcome-user{
    color: #EC2D2D;
}
.main-container{
    grid-area: main;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 82px;
}
.info-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 128px;
}
.card-home{
    width: 800px;
    height: 280px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.header-card{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    background-color: var(--terciary-color);
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-style: italic;
    font-weight: 800;
    font-size: 2.2rem;
    padding: 0 32px;
}
.main-card{
    padding: 18px;
    font-style: normal;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 2.2rem;
}
.bottom-bar{
    width: 1628px;
    height: 2px;
    background-color: var(--primary-color);
}

/* MOBILE */
@media (max-width:640px){
    header{
        padding: 0 12px;
    }
    .text-senai{
        font-size: 2rem;
    }
    .text-user{
        font-size: 1rem;
    }
    .profile-container i{
        font-size: 36px;
    }
    .left-container{
        display: flex;
        flex-direction: column;
    }
    .nav-container{
        height: 80px;
        border-right: none;
        border-bottom: 2px solid var(--terciary-color);
        width: 100%;
        align-items: center;
    }
    .list-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .list-container img{
        width: 32px;
    }
    .main-container{
        padding: 32px 0;
        gap: 32px;
    }
    .text-welcome{
        font-size: 1.4rem;
        text-align: center;
    }
    .info-container{
        flex-direction: column-reverse;
        gap: 0;
    }
    .info-container img{
        width: 360px;
    }
    .card-home{
        width: 320px;
        height: 146px;
    }
    .header-card{
        font-size: 1.6rem;
    }
    .main-card{
        font-size: 1rem;
        text-align: center;
    }
    .bottom-bar{
        margin-top: 32px;
        width: 100%;
    }
}