:root{
    --primary-color: #808080;
    --secondary-color: #F4F4F4;
    --terciary-color: #EC2D2D;
    --primary-font: 'Montserrat', sans-serif;
}
.link-route-student{
    text-overflow: ellipsis;
}
.link-route-student:hover {
    color: var(--terciary-color);
}
.link-route{
    position: absolute;
    width: 100%;
    height: 100%;
}
body{
    height: 100vh;
}
.container{
    display: flex;
}
.main-container{
    grid-area: main;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px 0px;
    align-items: center;
}
.header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 82px;
}
.title-container{
    display: flex;
    gap: 16px;
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    font-family: var(--primary-font);
    color: var(--primary-color);
    align-items: center;
}
.list-buttons {
    display: flex;
    gap: 10px;
}
.buttons-container{
    display: flex;
    gap: 32px;
}
.button-add{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #20B842;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button-edit{
    width: 100px;
    height: 50px;
    background-color: #EED600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button-delete{
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    background-color: #D90505;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #808080;
}
.table-container{
    display: flex;
    flex-direction: column;
    padding: 32px 64px;
    width: 100%;
    font-family: var(--primary-font);
}
.list-title{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    border-bottom: 1px solid #000000;
    font-size: 1.8rem;
}
.list-content{
    display: flex;
    flex-direction: column;
}
.container-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 64px;
    align-items: center;
    font-weight: 500;
    border-bottom: 1px solid #000000;
    font-size: 1.5rem;
}
.list-content li:hover{
    background-color: var(--secondary-color);
}
.subtitle_container {
    display: flex;
    width: 100%;
    justify-content: end;
}
.container_subtitle {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 0 82px;
}
.subtitle_content {
    display: flex;
    gap: 12px;
}
span {
    color: var(--terciary-color);
}
.container-buttons {
    display: flex;
    gap: 64px;
    justify-content: end;
    padding: 0 82px;
    width: 100%;
}
.button-time-record{
    width: 400px;
    height: 64px;
    background-color: var(--terciary-color);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    font-family: var(--primary-font);
    cursor: pointer;
}
.predicted_time_title {
    display: flex;
    font-family: var(--primary-font);
    font-weight: 700;
    gap: 8px;
    justify-content: center;
    font-size: 2.25rem;
    width: 100%;
}
.button-save{
    width: 240px;
    height: 64px;
    background-color: var(--terciary-color);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    font-family: var(--primary-font);
    cursor: pointer;
}
.time_record_title {
    font-family: var(--primary-font);
    font-size: 2.25rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.container-student-link {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.container-link-student .text-content-name:hover {
    cursor: pointer;
    color: var(--terciary-color);
}
.text-content-name {
    text-align: start;
    width: 250px;
}
.text-content-email {
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-content-nife {
    text-align: start;
    width: 150px;
}
.text-content-class {
    text-align: center;
    width: 250px;
}
header{
    height: 100px;
    width: 100%;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.text-senai{
    font-style: italic;
    font-weight: 800;
    font-size: 4rem;
}
.container-link {
    position: relative;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 16px;
}
.text-user{
    font-weight: 700;
    font-size: 2rem;
}
.profile-container i{
    font-size: 64px;
}
.left-container{
    height: calc(100% - 100px);
    display: grid;
    grid-template-areas: 
    "nav main";
    grid-template-columns: 100px 1fr;
}
.nav-container{
    grid-area: nav;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 18px;
    border-right: 2px solid #EC2D2D;
}
.list-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.list-container li{
    display: flex;
    align-items: center;
}
.list-container img:hover{
    transform: scale(1.1);
}
.modal-container{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}
.modal-container:target {
    visibility: visible;
    opacity: 1;
}
.modal-content{
    width: 1600px;
    height: 860px;
    background-color: rgba(217, 217, 217, 0.9);
    font-family: var(--primary-font);
}
.modal-content-delete{
    width: 640px;
    height: 460px;
    background-color: rgba(217, 217, 217, 0.9);
    font-family: var(--primary-font);
    text-align: center;
}
.header-modal{
    display: flex;
    width: 100%;
    height: 128px;
    background-color: var(--terciary-color);
    color: #FFFFFF;
    align-items: center;
}
.text-senai-modal{
    font-style: italic;
    font-weight: 800;
    font-size: 4rem;
    padding-left: 32px;
}
.main-modal{
    height: calc(100% - 128px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.title-modal{
    font-size: 4rem;
    font-weight: 700;
}
.input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.textfield-container{
    display: flex;
    flex-direction: column;
}
.textfield-container p{
    font-size: 2.2rem;
    font-weight: 700;
}
.textfield-login{
    background-color: var(--secondary-color);
    border: none;
    width: 600px;
    height: 60px;
    border-radius: 8px;
    outline: none;
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 700;
    padding: 0 32px;
}
.buttons-modal{
    display: flex;
    gap: 82px;
}
.save-modal{
    display: flex;
    width: 240px;
    height: 64px;
    background-color: #20B842;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    font-family: var(--primary-font);
    cursor: pointer;
    color: #FFFFFF;
}
.close-modal{
    display: flex;
    width: 240px;
    height: 64px;
    background-color: #D90505;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    font-family: var(--primary-font);
    cursor: pointer;
    color: #FFFFFF;
}


/* MOBILE */
@media (max-width:640px){
    header{
        padding: 0 12px;
    }
    .text-senai{
        font-size: 2rem;
    }
    .text-user{
        font-size: 1rem;
    }
    .profile-container i{
        font-size: 36px;
    }
    .left-container{
        display: flex;
        flex-direction: column;
    }
    .nav-container{
        height: 80px;
        border-right: none;
        border-bottom: 2px solid var(--terciary-color);
        width: 100%;
        align-items: center;
    }
    .list-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .list-container img{
        width: 32px;
    }
    .main-container{
        padding: 32px 0;
        gap: 32px;
    }
    .title-container img{
        width: 64px;
    }
    .title-container p{
        font-size: 1.4rem;
    }
    .header-container{
        padding: 0 16px;
    }
    .main-container{
        padding: 16px 0px;
        gap: 16px;
    }
    .container_subtitle{
        font-size: .8rem;
        padding: 0 32px;
    }
    .container-buttons{
        padding: 0;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .button-time-record{
        width: 220px;
        height: 36px;
        font-size: 1rem;
    }
    .button-save{
        width: 140px;
        height: 36px;
        font-size: 1rem;
    }
    .time_record_title{
        font-size: 1.2rem;
    }
    .predicted_time_title{
        font-size: 1.2rem;
    }
    .table-container{
        padding: 0 16px;
    }
    .list-title{
        font-size: .8rem;
    }
    .list-content{
        height: 32px;
        font-size: .6rem;
    }
    .buttons-container{
        position: fixed;
        bottom: 24px;
        right: 24px;
        gap: 12px;
    }
    .button-add{
        width: 48px;
        height: 48px;
    }
    .button-edit{
        width: 30px;
        height: 18px;
        font-size: .5rem;
    }
    .button-delete{
        width: 30px;
        height: 18px;
        font-size: .5rem;
    }
    .modal-content-delete{
        width: 100%;
        height: 100%;
    }
    .title-modal{
        font-size: 2rem;
    }
    .textfield-container p{
        font-size: 1.4rem;
    }
    .input-container{
        flex-direction: column;
    }
    .buttons-modal{
        gap: 32px;
    }
    .save-modal{
        width: 110px;
        height: 32px;
        font-size: 1.2rem;
    }
    .close-modal{
        width: 110px;
        height: 32px;
        font-size: 1.2rem;
    }
    .textfield-login{
        width: 360px;
        height: 48px;
    }
    .buttons-container img{
        width: 24px;
    }
    .text-content {
        width: 50px;
        font-size: .7rem;
        text-align: start;
    }
    .text-title-email {
        display: none;
    }
    .text-content-name {
        font-size: .8rem;
        width: 150px;
    }
    .text-content-nife {
        font-size: .8rem;
        width: 100px;
        text-align: start;
    }
    .text-content-email {
        display: none;
    }
    .text-content-class {
        font-size: .7rem;
        width: 50px;
        text-align: start;
    }
    .container-student-link {
        font-size: .7rem;
        width: 100px;
    }
    .container-student {
        justify-content: space-between;
    }
}